/*532 project*/
/*sets font family*/
body {
	font-family: sans-serif;
	min-width: 800px;
}
/*main header format*/
h1 {
	padding: 10px;
	border-bottom: 1px solid black;
	background-image: linear-gradient(to right, white 30%,silver 80%, blue);	
}
/*footer format*/
footer {
	font-style: italic;
	float: right;
}
section {
	width:auto;
}
/*map size*/
#map {
	height: 700px;
	width: auto;
}

/*nav bar*/
#nav {
	width: 180px;
	background-color:  #f7f3d1;
	margin: 5px;
	opacity: 0.8; 
}
#nav:hover {
	opacity: 1;
}
#nav>span {
	font-size: 16px;
	font-weight: bold;
}
#nav>div {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	cursor: pointer;
}
.hideLayers {
	display:none;
}
.selectedLayer {
	background-color: gold;
	display: block;
}
.layer:hover {
	background-color: lightblue;
}
.layer:active {
	background-color: lightgreen;
	color: white;
}
.arrowUp, .arrowDown{
	float: right;
	width: 0; 
	height: 0;
}  
.arrowDown { 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid green;
}
.arrowUp {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid red;
}
.arrowDown:hover {
	border-top: 15px solid lightblue;
}
.arrowUp:hover {
	border-bottom: 15px solid lightblue;
}

/*slider CSS*/
#sliderContainer {
	width: 100%;
	margin: 25px;
}
.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 25px; 
    background-color: white; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
} 
#sliderValue {
	position: absolute;
	left: 0%;
	bottom: 30px;
	background-color:hsl(39, 90%, 80%);
	border-radius: 3px;
	padding: 5px;
	width: 50px;
}

/* Style for the legend */
#legend {
    background: #FFF;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    font-family: Arial, sans-serif;
	opacity: 0.8;
}
.color {
    border: 1px solid;
    height: 12px;
    width: 12px;
    margin-right: 3px;
    float: left;
}
.red {
    background: #C00;
}
.yellow {
    background: #FF3;
}
.green {
    background: #6F0;
}
.blue {
    background: #06C;
}
.purple {
    background: #63C;
}
